/*
 * @file Styling for Islandora AJAX Infinite Scroll integration
 *
 */

.islandora-view-list {

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    opacity: 0;
}

.islandora-view-grid {

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    opacity: 0;
}

.islandora-view-list.shown,
.islandora-view-grid.shown {

    opacity: 1;
}

.islandora-solr-search-results.loading {

    background-image: url('../files/loader_65_65.gif');
    background-position: center;
    background-repeat: no-repeat;
    height: 128px;
}

.dss-solr-infinite-loader {

    text-align: center;
}
